@font-face {
  font-family: "lcars";
  src: url("lcars2.woff") format("woff");
}

table.table td, table.table th {
  background: #222;  
  border: black solid 5px;
}

table.table tr:hover td, table.table tr:hover th {
  background: #444 !important;
}

a {
  color: orange;
}

/* 
colors:

#E95
#97A
#FC6
#069
#01E
#F90
#C66
#B62
#F96
#36F
#746
#821
#36C
#99F
#B41
#F93
#D64
#59F
#C9C
#008
#646
#9CF
#CDF
#45B
#BA5
#FF9
#C69
#99C
#C9C
#68C
#FC6
#A53

*/

.jumbotron {
  padding: 4rem 0rem 0rem 0rem;  
}

/* logo */

.ctf_logo {
  height: 100px;
  margin: -28px -6px -35px -10px !important;
  width: auto;
}

/* black backgrounds, white text */

body, nav.bg-dark, .jumbotron, .modal-content, .card {
  background: black !important;;
  color: white;    
}

/* apply lcars font to various elements */

nav.navbar a, h1, h2, h3, .challenge-button, .modal-content h2, .modal-content h3, .modal-content ul.nav-tabs li a, .modal-content button {
  font-family: "lcars" !important;;
  text-transform: uppercase;
}

nav.navbar a, .challenge-button, .modal-content ul.nav-tabs li a, .modal-content button {
  font-size: 1.3rem;
}

code {
  text-transform: none;
}

/* top navbar lcars curves */

nav .container {
  padding: 15px 30px;
  border-style: solid;
  border-color: orange;
  border-width: 0px 70px 15px 70px;
  border-bottom-left-radius: 100px 50px;
  border-bottom-right-radius: 100px 50px;
}

/* top navbar lcars buttons */

nav ul a {
  background: orange;
  margin: 0 3px;
  padding-right: 10-px !important;
  padding-left: 10px !important;;
  color: black !important;
}

nav ul li:first-child a {
  border-radius: 20px 0px 0px 20px;
  padding-left: 12px !important;;
}

nav ul li:last-child a {
  border-radius: 0px 20px 20px 0px;
  padding-right: 12px !important;
}

/* randomish nav button colors */

nav ul:nth-child(1) li:nth-child(3n) a, nav ul:nth-child(3) li:nth-child(2n) a {
  background-color: #FC6 !important;
}

nav ul:nth-child(1) li:nth-child(1) a, nav ul:nth-child(3) li:nth-child(3n) a {
  background-color: #97A !important;
}

nav ul:nth-child(1) li:last-child a, nav ul:nth-child(3) li:nth-child(6) a {
  background-color: #C66 !important;
}


/* page/section header lcars curves */

.jumbotron .container {
  padding: 15px 30px;
  border-style: solid;
  border-color: #97A;
  border-width: 10px 50px 00px 50px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;   
}

/* challenge buttons */

.challenge-button {
  background: orange;
  border-radius: 50px 50px 50px 50px;
  box-shadow: none;
  font-weight: lighter;
  white-space: normal;
  width: 100%;
}

.challenge-button i.corner-button-check {
  margin-top: 38px;
  margin-right: 50px;
}

.challenge-button.solved-challenge {
  background-color: orange !important;
  opacity: 0.4;
}

.challenge-button:hover {
  opacity: 0.6;
}

/* random looking challenge button colors */

#challenges-board > div:nth-child(odd) .challenges-row div:last-child .challenge-button {
  background-color: #FC6 !important;
}

#challenges-board > div:nth-child(odd) .challenges-row div:nth-child(3n) .challenge-button {
  background-color: #97A !important;
}

#challenges-board > div:nth-child(odd) .challenges-row div:nth-child(5n) .challenge-button {
  background-color: #C66 !important;
}

#challenges-board > div:nth-child(even) .challenges-row div:nth-child(1) .challenge-button {
  background-color: #FC6 !important;
}

#challenges-board > div:nth-child(even) .challenges-row div:last-child .challenge-button {
  background-color: #68C !important;
}

#challenges-board > div:nth-child(even) .challenges-row div:nth-child(3n) .challenge-button {
  background-color: #97A !important;
}

/* challenge category sections lcars curves */

#challenges-board > div, .card, .instructions {
  border-style: solid;
  border-color: #FC6;
  border-width: 7px 0px 7px 40px;
  border-radius: 60px 0px 0px 60px / 30px !important;;
  margin: 50px 0 50px 0;
  padding-bottom: 25px;
  padding-top: 25px !important;
}

.tweets {
  border-style: solid;
  border-color: #C66;
  border-width: 7px 40px 7px 00px;
  border-radius: 0px 60px 60px 0px / 30px !important;;
  margin: 50px 0 50px 0;
  position: relative;
  left: 30px;  
  padding-bottom: 25px;
  padding-top: 25px !important;  
}

/* modal */

.modal-content {
  border-style: solid;
  border-color: #99c;
  border-width: 15px 5px 15px 50px;
  border-radius: 80px / 40px !important;
}

.modal-content ul.nav-tabs {
  border: none;  
}

.modal-content ul.nav-tabs li a {
  border-radius: 20px;
  background: orange;
  color: white !important;;
  font-weight: lighter;
  border: none;
  margin: 0 5px;
}

.modal-content ul.nav-tabs li a.active {
  background-color: orange;
  opacity: 0.5;
}

.modal-content ul.nav-tabs li a {
  border-radius: 20px;
}

.modal-content button, .modal-content input {
  border-radius: 25px;
}

.modal-content input {
  border: solid 1px black;
  background: #333;
}

.modal-content button {
  background-color: orange;
  color: white;
    font-weight: lighter;
}
